# Values are loaded from .envrc via direnv. rename .envrc.example to .envrc and fill in the values
# This file is only for Python tooling that expects a dotenv-style file.
GOOGLE_APPLICATION_CREDENTIALS=/path/to/creds.json
DBT_RAW_PROJECT_ID=YOUR-RAW-PROJ
DBT_RAW_DATASET_ID=YOUR-RAW-DATASET
DBT_DATA_DIR=data/
