# Environment variables 
.env
.envrc
profiles.yml
.sqlfluff

#Testing
*/test_code.sql

# VS Code
.vscode/

# Python virtual environments
venv/
.venv/
env/
.env/

# dbt target directory (compiled SQL and logs)
target/
dbt_packages/
dbt_internal_packages/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db


# generated data
*data/
jaffle_raw_data/
*.csv

# cache
__pycache__/

# included personal db and table names. keeping removed.
*test_code.sql

# permissions testing script
.list-gcp-permissions