# Environment variables 
.env
.envrc
profiles.yml


#Testing
*/test_code.sql

# VS Code
.vscode/ ### including this now. lots of good setups in here

# Python virtual environments
venv/
.venv/
env/
.env/

# dbt target directory (compiled SQL and logs)
target/
dbt_packages/
dbt_internal_packages/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db


# generated data
*data/
jaffle_raw_data/
*.csv

# cache
__pycache__/

# permissions testing script
.list-gcp-permissions