# Environment variables  #### THESE NEEDED TO RUN IN CLOUD
# .env
# .envrc

# VS Code
.vscode/

# Python virtual environments
venv/
.venv/
env/
.env/

# dbt target directory (compiled SQL and logs)
target/
dbt_packages/
dbt_internal_packages/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db


# generated data
data/