
# CORE PIPELINE & TRANSFORMATIONS
dbt-bigquery==1.12.0
sqlfluff==4.3.0

# DATA GENERATION & SCRIPTS (Used by gen_load.py)
jafgen==0.4.14
holidays==0.102

# OPTIONAL: 
# VS CODE & MCP SERVERS (Uncomment if setting up Copilot MCP)
# dbt-core-mcp==1.7.1

# TESTING, DEBUGGING & INTERACTIVE SHELL
# ipython==8.12.3
# pytest==9.1.1
# pdbpp==0.12.1
# nbconvert==7.17.1